<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>查看客机</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/assets/css/mycss/dashboard.css}" rel="stylesheet">
</head>
<style>
    .table{
        text-align: center;
    }
    .table td {
        vertical-align: middle;
    }
    .table tr{
        height: 84px;
    }
</style>

<body>

<!--引入公共头部-->
<div th:replace="~{commons/bar :: topbar}"></div>


<div class="container-fluid">
    <div class="row">
        <!--引入公共侧边栏-->
        <div th:replace="~{commons/bar :: #sidebar(activeUri='planes')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <h2>全部客机信息</h2>
            <br>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr style="height: 32px;">
                        <th>飞机</th>
                        <th>客机编号</th>
                        <th>客机状态</th>
                        <th>舱位信息</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pp :${pps}">
                        <td th:text="${pp.plane_id}"></td>
                        <td th:text="${pp.planeName}"></td>
                        <td th:if="(${pp.status}==0)" style="color: green;">空闲</td>
                        <td th:if="(${pp.status}==1)" style="color: orangered;">在忙</td>
                        <td>
                            <ul style="padding: 0;list-style:none" >
                                <li th:each=" ps : ${pp.seat}" style="margin:4px;">
                                    <b th:text="(${ps.seatType}==1)? '一等座' : '二等座'"></b>
                                    座位数：<b th:text="${ps.seatCount}" style="color: forestgreen;"></b>
                                    &nbsp;票价：<b th:text="${ps.seatPrice}" style="color: orange"></b>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <a th:href="@{/admin/upPlane/} + ${pp.plane_id}" style="color: green;">修改客机</a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
<!--<script src="/assets/js/bootstrap.min.js"></script>-->

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

<script>

</script>
</body>
</html>
