<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>修改客机</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/assets/css/mycss/dashboard.css}" rel="stylesheet">
</head>
<style>
    .table{
        text-align: center;
    }
    .table td {
        vertical-align: middle;
    }
    .table tr{
        height: 44px;
    }
</style>

<body>

<!--引入公共头部-->
<div th:replace="~{commons/bar :: topbar}"></div>


<div class="container-fluid">
    <div class="row">
        <!--引入公共侧边栏-->
        <div th:replace="~{commons/bar :: #sidebar(activeUri='flights')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <h2>修改客机信息</h2>
            <hr><br>
            <div class="table-responsive">

                <form th:action="@{/admin/upFlight}" th:method="post" style="padding-left: 20px;">
                    <div class="row">
                        <div class="col-md-9 col-sm-10">
                            <h4>航班基本信息</h4>
                            <hr>
                            <input th:value="${flight.flight_id}" type="hidden" name="flight_id">
                            <div class="form-group">
                                <label for="origin">出发城市：</label>
                                <input type="text" class="form-control" name="origin" th:value="${flight.origin}" id="origin" required>
                            </div>
                            <div class="form-group">
                                <label for="destination">目的城市：</label>
                                <input type="text" class="form-control" name="destination" th:value="${flight.destination}" id="destination" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-5">
                            <label for="start_name">出发时间：</label>
                            <input type="text" class="form-control" name="start_time" th:value="${#dates.format(flight.start_time,'yyyy-MM-dd hh:mm')}" id="start_name" required>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <label for="end_name">预计到达时间：</label>
                            <input type="text" class="form-control" name="end_time" th:value="${#dates.format(flight.end_time,'yyyy-MM-dd hh:mm')}" id="end_name" required>
                        </div>
                    </div>
                    <hr/>
                    <br>

                    <button type="submit" class="btn btn-primary">提交</button>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                </form>
            </div>
            <input type="hidden" th:value="${msg}" id="msg">

        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<script type="text/javascript">



    window.onload = function () {
        if ( msg.value != "")
        {
            window.alert(msg.value);
        }
    }
</script>
<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>


</body>
</html>
