<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="民航售票登录页面">
    <meta name="author" content="GCW">
    <link rel="icon" href="">

    <title>用户登录</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/mycss/bootstrap4.0.min.css" th:href="@{/assets/css/mycss/bootstrap4.0.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/mycss/signin.css" th:href="@{/assets/css/mycss/signin.css}" rel="stylesheet">
	<style>
		
		a {
			display:inline-block;
			color: #343a3f;
			
			padding:0;
		    font-weight: 500;
		    margin-top: 10px;
		}
		
	</style>
  </head>

  <body class="text-center">
	
    <form class="form-signin" th:action="@{/user/login}" method="post">
      <img class="mb-4" th:src="@{/assets/img/login.svg}" alt="" width="80" height="80">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

      <p id="loginInfo" style="color: orangered;" th:text="${msg}" th:if="${ not #strings.isEmpty(msg)}"></p>


      <p id="successInfo" style="color: green;" th:text="${success}"></p>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" name="username" id="inputEmail" class="form-control" placeholder="Email address"
             th:value="(${User}) ? ${User.username} : '' " required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="psw" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color: #ff545a; border-color: #ff545a;">登录</button>
	  <a class="btn btn-default btn-sm" href="sign_up.html" th:href="@{/user/sign_up}" target="_self" style="">立即注册</a>
	  <a class="btn btn-default btn-sm" href="../index.html" th:href="@{/index}" target="_self" style="padding-bottom: 5px;" >返回首页</a>
      <p class="mt-5 mb-3 text-muted">&copy; 2019 Booking Team</p>
    </form>

  <script type="text/javascript">
      window.onload = function () {
        re = document.getElementById("successInfo").innerText;
        if ( re != "")
        {
            window.alert(re);
        }
      }

  </script>
  </body>
</html>
