<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bar</title>
</head>
<body>

<!--topbar-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="topbar">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" style="color: white;">
        <span style="margin-right: 4px" data-feather="user"></span>
        admin
    </a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/admin/logout}" href="">Sign out</a>
        </li>
    </ul>
</nav>


<!--sidebar-->
<nav class="col-md-2 d-none d-md-block bg-light sidebar" id="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/admin/dashboard}"
                    th:class="${activeUri=='dashboard'?'nav-link active':'nav-link'}">
                    <span data-feather="home"></span>
                    Dashboard <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/addplane}"
                   th:class="${activeUri=='addplane'?'nav-link active':'nav-link'}">
                    <span data-feather="navigation"></span>
                    添加客机
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/addflight}"
                   th:class="${activeUri=='addflight'?'nav-link active':'nav-link'}">
                    <span data-feather="file-minus"></span>
                    录入航班
                </a>
            </li>
        </ul>

        <!--查看信息-->
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>信息管理</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/planes}"
                   th:class="${activeUri=='planes'?'nav-link active':'nav-link'}">
                    <span data-feather="users"></span>
                    客机信息管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/admin/flights}"
                   th:class="${activeUri=='flights'?'nav-link active':'nav-link'}">
                    <span data-feather="bar-chart-2"></span>
                    航线信息管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/review}"
                   th:class="${activeUri=='review'?'nav-link active':'nav-link'}">
                    <span data-feather="layers"></span>
                    退票审核
                </a>
            </li>
        </ul>

        <!--其他信息-->
        <!--<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">-->
            <!--<span>其他信息</span>-->
            <!--<a class="d-flex align-items-center text-muted" href="#">-->
                <!--<span data-feather="plus-circle"></span>-->
            <!--</a>-->
        <!--</h6>-->
        <!--<ul class="nav flex-column mb-2">-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">-->
                    <!--<span data-feather="file-text"></span>-->
                    <!--订票价格统计-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">-->
                    <!--<span data-feather="file-text"></span>-->
                    <!--订票量统计-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">-->
                    <!--<span data-feather="file-text"></span>-->
                    <!--退票统计-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    </div>
</nav>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

</body>
</html>